*, *:before, *:after {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
  color: #db0f2d;
  font-size: 2em;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;

}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 1em;
  padding: 8px 12px;
  position: relative;
  text-align: left;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h1 {
  font-family: "Merriweather Sans Bold", sans-serif;
  font-size: 2em;
  font-weight: bolder;
  text-align: left;
  clear: both;
  padding-top: 20px;
  margin: 0;
}

h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5em;
  text-align: left;
  font-weight: lighter;
  padding-bottom: 5px;
  margin-top: 0;
}

h3 {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 1.2em;
  padding-left: 0px;
  margin-bottom: 0;
}

h4{
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5em;
  text-align: center;
  font-weight: lighter;
  padding-bottom: 5px;
  margin-top: 0;
}

p {
  font-family: "Merriweather Light", serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  max-width: 800px;
  /*margin-bottom: 0;*/
}

body {
margin: 0;
letter-spacing:2px;
}

blockquote{
  font-family: "Merriweather",  serif;
  font-size: 1em;
  font-style: bold;
  margin-left: 40px;
  color: #800000;
  max-width: 400px;
  border-left: 2px solid black;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.title h1, h4{
text-align: center;
}



.title h1{
  color: #800000;
}


h4{
  text-align: center;
}

.poemtitle{
  line-height: 1em;
  padding-bottom: 0px;
  padding-top: 20px;
}

.poemtitle h2{
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  text-align: left;
  font-weight: lighter;
  padding-bottom: 0px;
}

.poem{
  font-family: "Merriweather Sans", sans-serif;
  font-style: italic;
  font-size: 1.5em;
}

.poemtitle{
  font-family: "Merriweather Bold Sans", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #800000;
}


.footerimg{
 height:3em;
 width:25% ;
 position: relative;
}

.portraits{
  padding-left: 20px;
}

.portrait-1,.portrait-2,.portrait-3,.portrait-4,.portrait-5,.portrait-6,.portrait-7{
  border-top: 2px solid black;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

#footer {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 0.8em;
  border-top: 1px solid black;
  display:flex;
  flex-flowï¼šrow wrap;
  justify-content: space-around;
}

#container {
  width: 95%;
  margin: 0 auto;
}

/*#nav {
  padding: 0;
  list-style-type: none;
  padding-top: 0;
  margin-top: 0;
}*/

/*#nav li {
  float: left;
  margin: 0px;
  padding-top: 0;
  width: 33%;
  border-right: 1px solid white;
  color: #334d4d
}*/
#nav{
  list-style-type: none;
  display: block;
  background-color: black;
  font-size:1.5em;
  line-height:2em;
  padding: 5px;
  text-align:center;
  justify-content: flex-end;
  display: flex;
  flex-flow: row;
}

#nav a:link, #nav a:visited {
  color: white;
  background-color: black;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

/*
#nav a:hover {
  background-color: #4d0000;
  padding: 10px;
}
*/

img {
  border: none;
  width: 40%;
  margin-bottom: 0px;
  margin:auto;
}

.caption {
  font-family: "Merriweather Sans: 300i";
  font-style: italic;
  font-size: 0.8em;
  margin-top: 0;
  text-align: right;
  color: black;
}

.Byline {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 1em;
  font-style: italic;
}

.Subhead {
  font-family: "Merriweather Sans",  sans-serif;
  font-size: 1.2em;
  font-style: bold;
  margin-bottom: 0;
  color: #800000;
}

.link {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  /*text-decoration: none;*/
  /*list-style-type: none;*/
}

.card img {
  border: none;
  padding: 10px;
}

.feature img {
  border: none;
  padding: 10px;
}

.article-1 img {
  border: none;
  padding: 10px;
}

.article-2 img {
  border: none;
  padding: 10px;
}

.card-container {
    display: flex;
    flex-flow: row;
    clear: both;
}

.card {
    border: 1px solid gray;
    box-shadow: 1px 1px 1px #888;
    border-top: 10px;
    padding: 0;
    margin-bottom: 20px;
    /*width: 30%*/
}

.card p {
    padding: 10px;
}

.card img {
  padding: 10px;
}

.feature {
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px;
    padding: 10;
    margin-bottom: 20px;
    /*width: 30%*/
}


.article-2 {
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px;
    padding: 10;
    margin-bottom: 20px;
    /*width: 30%*/
}


.article-1 {
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px;
    padding: 10;
    margin-bottom: 20px;
    /*width: 30%*/
}

.article-1 p {
    display: flex;
    flex-flow: row;
}


.fullwidth {
  position: relative;
  transform: translate (-50%,0);
  width: 100%;
  /*padding-top: 0;*/
}

video {
  position: relative;
  padding: 10px;
  /*background-color: white;*/
  width: 100%;
}

/*Portraits of Persistence portion*/

audio {
  margin: 10px;
}

/*Table of Conents Coding*/

.article-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    clear: both;
    width: 40%;
    padding: 20px;
    margin: 20px;
}

.article-1{
  flex: 2 auto;
  margin:10px;
  padding: 10px;
}

.article-2{
  flex: 2 auto;
  margin:10px;
  padding: 10px;
}

.feature{
  flex: 2 auto;
  margin:10px;
  padding: 10px;
}

.story {
  border: 1px solid gray;
  border-right: 10px;
  border-left: 10px;
  padding: 0;
  margin-bottom: 20px;
  max-width: 800px;
  /*width: 30%*/
}

.story img {
  padding: 10px;
  border: none;
}

.story p {
  padding: 10px;
}

.tablecontents {
  padding: 20px;
}

.poemimage img{
  width: 40%;
  padding-top: 10px;
}

.poemcaption {
  text-align: left;
  font-family: "Merriweather Sans: 300i";
  font-style: italic;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 40px;
  color: black;
}


@media all and (max-width:600px){

  #nav{
    flex-flow: column;
    }


  #nav a:hover{
    background: #4d0000;
    }
}

  .card-container{
    flex-flow: column;
    padding: 10px;
  }




@media all and (min-width:800px){

  #nav{
  flex-flow:row;
  justify-content: space-around;
  background:black;
  }

  #nav li{
    background:black;
  }
}


@media screen and (min-width:1000px){

  .card-container{
    display: flex;
    flex-flow:row;

  }


  .feature{
    flex: 1 auto;
    margin:10px;
    padding: 10px;
  }

  .article-1{
    flex: 1 auto;
    margin:10px;
    padding: 10px;
  }

  .article-2{
    flex: 1 auto;
    margin: 10px;
    padding: 10px;
  }

  .footer{
flex-flow: column;
margin: 10px;
padding: 10px;
 }
}
