*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 33px;
  text-align: left;
  clear: both;
  padding-top: 20px;
  margin: 0;
}

h2 {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: left;
  font-weight: lighter;
  padding-bottom: 5px;
  margin-top: 0;
}

h3 {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 13px;
}

p {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 14px;
  padding-top: 0;
  margin-top: 0;
}

body {
  margin: 0;
}

#footer {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}

#container {
  width: 95%;
  margin: 0 auto;
}

#nav {
  padding: 0;
  list-style-type: none;
  padding-top: 0;
  margin-top: 0;
}

#nav li {
  float: left;
  margin: 0px;
  padding-top: 0;
  width: 33%;
  border-right: 1px solid black;
  color: #334d4d
}

#nav a:link, #nav a:visited {
  display: block;
  color: black;
  background-color: #F5F5DC;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

.logo {
  border: none;
  width: 100%;
  margin-bottom: 0px;
}

.caption {
  font-family: "Merriweather Sans: 300i";
  font-style: italic;
  font-size: 13px;
  margin-top: 0;
  text-align: left;
}

.Byline {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 0;
}

.Subhead {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 19px;
  font-style: bold;
  margin-bottom: 0;
}


.card img {
  border: none;
  width: 100%;
}

.card-container {
    display: flex;
    flex-flow: column;
    clear: both;
}

.card {
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px;
    padding: 0;
    margin-bottom: 20px;
    /*width: 30%*/
}

.card p {
    padding: 10px;
}

.fullwidth {
  position: relative;
  transform: translate (-50%,0);
  width: 100%;
  /*padding-top: 0;*/
}
