/*styles go here*/
h1 {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 33px;
  text-align: left;
}

h2 {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: left;
  font-weight: lighter;
}

.caption {
  font-family: "Merriweather Sans: 300i";
  font-style: italic;
  font-size: 13px;
  margin-top: 0;
  text-align: left;
}

.Byline {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 0;
}

p {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 16px;
  padding-top: 0;
}

body {
  margin: 0;
}

#footer {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}

#container {
  width: 95%;
  margin: 0 auto;
  clear: right;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  float: left;
  margin: 0;
  padding: 0;
  width: 24.93%;
  border-right: 1px solid black;
  color: #334d4d
}

#nav a:link, #nav a:visited {
  display: block;
  color: black;
  background-color: #F5F5DC;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

img {
  border: none;
  width: 100vw;
}

.fullwidth {
  position: relative;
  transform: translate (-50%,0);
  width: 100vw;
}
